<template name="productsAdd">
    <div class="row products-add">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Add a product</h1>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Product name" required>
                </div>
                <div class="form-group input-group">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Price" aria-describedby="price_prepend" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="price_prepend">€</span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <input type="number" class="form-control" name="height" id="height" placeholder="Height" aria-describedby="height_prepend" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="height_prepend">cm</span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <input type="number" class="form-control" name="width" id="width" placeholder="Width" aria-describedby="width_prepend" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="width_prepend">cm</span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight" aria-describedby="weight_prepend" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="weight_prepend">g</span>
                    </div>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="category" id="category" required>
                        <option value="none" selected disabled>Product category</option>
                        <option value="chairs">Chairs</option>
                        <option value="tables">Tables</option>
                        <option value="beds">Beds</option>
                        <option value="sofas">Sofas</option>
                        <option value="benches">Benches</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save product</button>
            </form>
        </div>
    </div>
</template>