<template name="register">
    <div class="row register">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Register</h1>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password_repeat" id="password_repeat" placeholder="Repeat password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/">Already registered? Login here!</a>
        </div>
    </div>
</template>