<template name="productsView">
        {{#with product}}
        <div class="row orders-view">
            <div class="col-sm-12">
                <div class="float-right"><a href="/products/edit/{{this._id}}" class="btn btn-light">Update info</a></div><br>
            </div>
            <div class="col-sm-4">
                <h2>{{this.name}}</h2>
                <table class="table">
                    <tr>
                        <td>Price:</td>
                        <td>{{this.price}}€</td>
                    </tr>
                    <tr>
                        <td>Width:</td>
                        <td>{{this.width}}cm</td>
                    </tr>
                    <tr>
                        <td>Height:</td>
                        <td>{{this.height}}cm</td>
                    </tr>
                    <tr>
                        <td>Weight:</td>
                        <td>{{this.weight}}g</td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td>{{upperCase(this.category)}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-8">
                <h2>Product orders</h2>
                <table class="table">
                    <tr>
                        <th>Customer</th>
                        <th>Order date</th>
                        <th>Quantity</th>
                        <th>Manager</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    {{#each this.product_orders}}
                    <tr>
                        <td>{{this.customer.full_name}}</td>
                        <td>{{this.order_date}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.manager.full_name}}</td>
                        <td>{{this.status}}</td>
                        <td><a href="/orders/view/{{this._id}}" class="btn btn-light">View</a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/with}}
    </template>