<template name="login">
    <div class="row login">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Welcome to Test CRM</h1>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/register">New user? Register here</a>
        </div>
    </div>
</template>