<template name="ordersView">
    {{#with order}}
    <div class="row orders-view">
        <div class="col-sm-12">
            <div class="float-right"><a href="/orders/edit/{{this._id}}" class="btn btn-light">Update info</a></div><br>
            <h1>Order No.{{this.order_id}}</h1>
            <h6>Status: {{this.status}}</h6>
            <h6>Quantity: {{this.quantity}}</h6>
            <h6>Order date: {{this.order_date}}</h6>
        </div>
        <div class="col-sm-4">
            <h2>Product info</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td>{{this.product.name}}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{this.product.price}}€</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/products/view/{{this.product._id}}">Full info</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>Customer info</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td>{{this.customer.full_name}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{this.customer.phone}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{this.customer.email}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{this.customer.address}}</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>{{this.customer.city}}</td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>{{this.customer.state}}</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>{{this.customer.country}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>Manager info</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td>{{this.manager.full_name}}</td>
                </tr>
            </table>
        </div>
    </div>
    {{/with}}
</template>