<template name="ordersEdit">
        <div class="row customers-add">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <h1>Edit an order</h1>
                {{#with order}}
                <form>
                    <div class="form-group">
                        <select value="{{this.product_id}}" class="custom-select" name="product" id="product" required>
                            <option disabled value="none">Select product</option>
                            {{#each products}}
                                <option selected="{{selected this._id this.product_id}}" value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <select value="{{this.customer_id}}" class="custom-select" name="customer" id="customer" required>
                            <option disabled value="none">Select customer</option>
                            {{#each customers}}
                                <option selected="{{selected this._id this.customer_id}}" value="{{this._id}}">{{this.full_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <select value="{{this.manager_id}}" class="custom-select" name="manager" id="manager" required>
                            <option disabled value="none">Select manager</option>
                            {{#each managers}}
                                <option selected="{{selected this._id this.manager_id}}" value="{{this._id}}">{{this.full_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <input value="{{this.quantity}}" type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input value="{{this.order_date}}" type="date" class="form-control" name="order_date" id="order_date" placeholder="Order date" required>
                    </div>
                    <div class="form-group">
                        <select value="{{this.status}}" class="custom-select" name="status" id="status" required>
                            <option disabled value="none">Order status</option>
                            <option selected="{{selected 'pending' this.status}}" value="pending">Pending</option>
                            <option selected="{{selected 'in_orogress' this.status}}" value="in_progress">In progress</option>
                            <option selected="{{selected 'done' this.status}}" value="done">Done</option>
                            <option selected="{{selected 'blocked' this.status}}" value="blocked">Blocked</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save order</button>
                </form>
                {{/with}}
            </div>
        </div>
    </template>