<template name="customersAdd">
    <div class="row customers-add">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Add a customer</h1>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="state" id="state" placeholder="State">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="country" id="country" placeholder="Country" required>
                </div>
                <button type="submit" class="btn btn-primary">Save customer</button>
            </form>
        </div>
    </div>
</template>