<template name="ordersIndex">
  <div class="row products-index">
      <div class="col-sm-12">
          <h1>Orders</h1>
          <div class="float-right"><a href="/orders/add" class="btn btn-light">Add new</a></div><br>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Client name<input type="text" id="customer_first_name_search" name="customer_first_name_search" placeholder="Search..."/></th>
                  <th scope="col">Client last name<input type="text" id="customer_last_name_search" name="customer_last_name_search" placeholder="Search..."/></th>
                  <th scope="col">Product<input type="text" id="product_search" name="product_search" placeholder="Search..."/></th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Order date</th>
                  <th scope="col">Manager</th>
                  <th scope="col">Status</th>
                  <th>{{#if searching}}<button class="btn btn-light reset">Reset</button>{{/if}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <th scope="row">{{this.order_id}}</th>
                  <td>{{this.customer_name_cache.first_name}}</td>
                  <td>{{this.customer_name_cache.last_name}}</td>
                  <td>{{this.product_name_cache.name}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.order_date}}</td>
                  <td>{{this.manager.full_name}}</td>
                  <td>{{this.status}}</td>
                  <td><a href="/orders/view/{{this._id}}" class="btn btn-light">View</a><a href="/orders/edit/{{this._id}}" class="btn btn-light">Edit</a><button data-id="{{this._id}}" class="delete btn btn-light">Delete</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{#unless searching}}
            <ul class="pagination">
              <li class="page-item previous-page">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {{#each paginationPages}}
              <li class="page-item page {{isActive this}}"><a class="page-link" href="#" data-page="{{this}}">{{this}}</a></li>
              {{/each}}
              <li class="page-item next-page">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
            {{/unless}}
      </div>
  </div>
</template>