<template name="customersView">
    {{#with customer}}
    <div class="row orders-view">
        <div class="col-sm-4">
            <h2>{{this.full_name}}</h2>
            <table class="table">
                <tr>
                    <td>Phone:</td>
                    <td>{{this.phone}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{this.email}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{this.address}}</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>{{this.city}}</td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>{{this.state}}</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>{{this.country}}</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/products/view/{{this.product._id}}">Full info</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-8">
            <h2>Customers orders</h2>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Order date</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {{#each this.customer_orders}}
                <tr>
                    <td>{{this.product.name}}</td>
                    <td>{{this.order_date}}</td>
                    <td>{{this.manager.full_name}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="/orders/view/{{this._id}}" class="btn btn-light">View</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/with}}
</template>