<template name="ordersAdd">
    <div class="row customers-add">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Add an order</h1>
            <form>
                <div class="form-group">
                    <select class="custom-select" name="product" id="product" required>
                        <option disabled selected value="none">Select product</option>
                        {{#each products}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="customer" id="customer" required>
                        <option disabled selected value="none">Select customer</option>
                        {{#each customers}}
                            <option value="{{this._id}}">{{this.full_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="manager" id="manager" required>
                        <option disabled selected value="none">Select manager</option>
                        {{#each managers}}
                            <option value="{{this._id}}">{{this.full_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity" required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="order_date" id="order_date" placeholder="Order date" required>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="status" id="status" required>
                        <option disabled selected value="none">Order status</option>
                        <option value="pending">Pending</option>
                        <option value="in_progress">In progress</option>
                        <option value="done">Done</option>
                        <option value="blocked">Blocked</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save order</button>
            </form>
        </div>
    </div>
</template>