<template name="mainLayout">
    {{#if loggedIn}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Test CRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if isActive 'orders'}}active{{/if}}">
                    <a class="nav-link" href="/orders">Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#if isActive 'customers'}}active{{/if}}">
                    <a class="nav-link" href="/customers">Customers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#if isActive 'products' }}active{{/if}}">
                    <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{getUserName}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/profile">My profile</a>
                      <a class="dropdown-item logout" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {{/if}}
    <main>	
        <div class="container">
            {{> Template.dynamic template=main}}
        </div>
    </main>
    </template>
    
    