<template name="customersEdit">
    <div class="row customers-edit">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Edit customer</h1>
            {{#with customer}}
            <form>
                <div class="form-group">
                    <input value="{{this.first_name}}" type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <input value="{{this.last_name}}" type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
                </div>
                <div class="form-group">
                    <input value="{{this.phone}}" type="text" class="form-control" name="phone" id="phone" placeholder="Phone" required>
                </div>
                <div class="form-group">
                    <input value="{{this.email}}" type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input value="{{this.address}}" type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
                <div class="form-group">
                    <input value="{{this.city}}" type="text" class="form-control" name="city" id="city" placeholder="City" required>
                </div>
                <div class="form-group">
                    <input value="{{this.state}}" type="text" class="form-control" name="state" id="state" placeholder="State">
                </div>
                <div class="form-group">
                    <input value="{{this.country}}" type="text" class="form-control" name="country" id="country" placeholder="Country" required>
                </div>
                <button type="submit" class="btn btn-primary">Save customer</button>
            </form>
            {{/with}}
        </div>
    </div>
</template>