<template name="productsIndex">
    <div class="row products-index">
        <div class="col-sm-12">
            <h1>Products</h1>
            <div class="float-right"><a href="/products/add" class="btn btn-light">Add new</a></div><br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Category</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <th scope="row">{{this.item_id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}€</td>
                    <td>{{this.width}}cm</td>
                    <td>{{this.height}}cm</td>
                    <td>{{this.weight}}g</td>
                    <td>{{upperCase(this.category)}}</td>
                    <td><a href="/products/view/{{this._id}}" class="btn btn-light">View</a><a href="/products/edit/{{this._id}}" class="btn btn-light">Edit</a><button data-id="{{this._id}}" class="delete btn btn-light">Delete</button></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
        </div>
    </div>
</template>