<template name="productsEdit">
        <div class="row products-edit">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                {{#with product}}
                <h1>Edit a product</h1>
                <form>
                    <div class="form-group">
                        <input value="{{this.name}}" type="text" class="form-control" name="name" id="name" placeholder="Product name" required>
                    </div>
                    <div class="form-group input-group">
                        <input value="{{this.price}}" type="number" class="form-control" name="price" id="price" placeholder="Price" aria-describedby="price_prepend" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="price_prepend">€</span>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input value="{{this.height}}" type="number" class="form-control" name="height" id="height" placeholder="Height" aria-describedby="height_prepend" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="height_prepend">cm</span>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input value="{{this.width}}" type="number" class="form-control" name="width" id="width" placeholder="Width" aria-describedby="width_prepend" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="width_prepend">cm</span>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input value="{{this.weight}}" type="number" class="form-control" name="weight" id="weight" placeholder="Weight" aria-describedby="weight_prepend" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="weight_prepend">g</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <select value="{{this.category}}" class="custom-select" name="category" id="category" required>
                            <option value="none" disabled>Product category</option>
                            <option selected="{{selected this._id 'chairs'}}" value="chairs">Chairs</option>
                            <option selected="{{selected this._id 'tables'}}" value="tables">Tables</option>
                            <option selected="{{selected this._id 'beds'}}" value="beds">Beds</option>
                            <option selected="{{selected this._id 'sofas'}}" value="sofas">Sofas</option>
                            <option selected="{{selected this._id 'benches'}}" value="benches">Benches</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save product</button>
                </form>
                {{/with}}
            </div>
        </div>
    </template>