<template name="profile">
    <div class="row profile">
        {{#with profile}}
        <div class="col-sm-12">
            <h2>Manager orders</h2>
            <table class="table">
                <tr>
                    <th>Customer</th>
                    <th>Order date</th>
                    <th>Quantity</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {{#each this.manager_orders}}
                <tr>
                    <td>{{this.customer.full_name}}</td>
                    <td>{{this.order_date}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.manager.full_name}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="/orders/view/{{this._id}}" class="btn btn-light">View</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/with}}
    </div>
</template>