<template name="customersIndex">
  <div class="row customers-index">
      <div class="col-sm-12">
          <h1>Customers</h1>
          <div class="float-right"><a href="/customers/add" class="btn btn-light">Add new</a></div><br>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First name</th>
                  <th scope="col">Last name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">City</th>
                  <th scope="col">Country</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each customers}}
                <tr>
                  <th scope="row">{{this.customer_id}}</th>
                  <td>{{this.first_name}}</td>
                  <td>{{this.last_name}}</td>
                  <td>{{this.phone}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.city}}</td>
                  <td>{{this.country}}</td>
                  <td><a href="/customers/view/{{this._id}}" class="btn btn-light">View</a><a href="/customers/edit/{{this._id}}" class="btn btn-light">Edit</a><button data-id="{{this._id}}" class="delete btn btn-light">Delete</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
      </div>
  </div>
</template>